.Details {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.Details-content,
.Details-editing {
  display: flex;
  flex-direction: column;
}

.Details-content > .Add-title,
.Details-content > .Add-desc,
.Details-content > .Details-actions {
  display: none;
}

.Details-editing > h1,
.Details-editing > p,
.Details-editing > .bx {
  display: none;
}

.Details-content > .bx {
  align-self: end;
  font-size: 1.2em;
  width: 2.4em;
  height: 2.4em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.Details-content > .bx:hover {
  background-color: var(--primary-dark);
}

.Details-content > .bx:active {
  background-color: var(--dark-active);
}

.Details-content > p {
  line-height: 1.6;
}

.Details-editing {
  gap: 1em;
}

.Details-editing > .Details-actions {
  align-self: end;
  display: flex;
  gap: 1em;
}

.Details-panel {
  display: flex;
  gap: 1em;
}

.Details-toggle {
  display: flex;
  font-size: 1.2em;
  gap: 1em;
  align-items: center;
  padding: 0.8em 1em;
  border-radius: 10px;
  background-color: var(--primary-light);
  position: relative;
  z-index: 0;
  cursor: pointer;
}

.Details-toggle > * {
  pointer-events: none;
  user-select: none;
}

.Details-toggle::after {
  content: '';
  position: absolute;
  background-color: var(--light-active);
  border-radius: 10px;
  top: 0;
  right: 0;
  width: 0;
  height: 100%;
  transition: all 0.2s ease-in-out;
  z-index: -1;
}

.Details-toggle:hover::after {
  right: unset;
  left: 0;
  width: 100%;
}

.Details-delete::after {
  background-color: red;
}

@media (width < 700px) {
  .Details-toggle > p {
    display: none;
  }

  .Details-toggle::after {
    height: 0;
  }

  .Details-toggle:active {
    background-color: var(--light-active);
  }

  .Details-delete:active {
    background-color: red;
  }
}
