.Navbar {
  background-color: var(--primary-light);
  display: grid;
  grid-template-columns: 1fr auto;
  width: 100%;
}

.Navbar-logo {
  display: flex;
  align-items: center;
}

.Navbar-logo > .bx {
  font-size: 5em;
  padding: 0 0.16em;
}

.Navbar-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.Navbar-list > a {
  font-size: 1.6em;
  padding: 1em;
  text-decoration: none;
  color: var(--text-content);
  width: 100%;
  height: 100%;
  transition: all 0.2s ease-in-out;
}

.Navbar-list > a:hover,
.Navbar-list > .Navbar-current {
  background-color: var(--text-content);
  color: var(--primary-light);
}
