.TaskBox {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr auto;
  gap: 1em;
  padding: 1em;
  background-color: var(--primary-light);
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.TaskBox:hover {
  transform: scale(1.08);
}

.TaskBox > .bx {
  position: absolute;
  top: -14px;
  left: -14px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-size: 1.4em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--text-content);
  color: var(--background);
  transform: rotate(-45deg);
  transition: all 0.15s ease-in-out;
}

.TaskBox > .bx:hover {
  background-color: var(--primary-dark);
  color: var(--text-content);
}

.TaskBox > .bx:active {
  background-color: var(--dark-active);
}

.TaskBox > h2,
.TaskBox > p {
  overflow: hidden;
  grid-column: 1;
  user-select: none;
}

.TaskBox > h2 {
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.TaskBox > p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.TaskBox-done {
  place-self: center;
  grid-row: 1 / -1;
  grid-column: 2;
}

.TaskBox-done > .bx {
  font-size: 2em;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  margin: 0 0 0 24px;
  border-radius: 50%;
  transition: all 0.15s ease-in-out;
}

.TaskBox-done > .bx:hover {
  background-color: var(--primary-dark);
}

.TaskBox-done > .bx:active {
  background-color: var(--dark-active);
}